<div class="container-fluid">
    <nav class="main-nav py-2">
        <a href="" class="nav-brand">MyExam</a>
        <div class="user-icon">
            <div class="user-icon__img"></div>
            <p class="user-icon__name">Lê Hồ Vỹ</p>
            <ul class="user-menu">
                <li class="user-item">
                    <a href="" class="user-link">Thay đổi thông tin cá nhân</a>
                </li>
                <li class="user-item">
                    <a href="" class="user-link">Bài kiểm tra của tôi</a>
                </li>
                <li class="user-item">
                    <a href="" class="user-link">Đổi mật khẩu</a>
                </li>
                <li class="user-item">
                    <a href="" class="user-link">Đăng xuất</a>
                </li>
            </ul>
        </div> 
    </nav>
</div>