{% extends 'home/base/base-home.html'%}
{% block name %}
{{ context.user.first_name }} {{ context.user.last_name }}
{% endblock %}

{% block my_home %}
    {% url 'home' context.user.username %}
{% endblock %}


{% block my-test %}
 

{% endblock %}

{% block list-test %}
my-test
{% endblock %}

{% block content %}
    <div class="container">
        {% if "user" in context %}
            <h1>{{ context.user.username }}</h1>
        {% endif %}
        
        <div class="test-section">
            {% for exam in context.exams %}
            <div class="test-component">
                <a href="exam={{ exam.exam }}" class="test-name">{{exam.exam}}</a>
                <div class="test-info">
                    <p class="test-owner">Người tạo: {{exam.user_name}}</p>
                    <p class="test-date">{{exam.score}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}