{% extends "home/base/base-home.html" %}
<!-- name in navbar -->
{% block name %}
{{firstName}} {{lastName}}
{% endblock %}
<!-- link to home in logo -->
{% block my-home %} 
    {% url 'home' username %}
{% endblock %}

<!-- link to info -->

{% block change-info %}
{% url 'info' username %}
{% endblock %}
<!-- link to list-test -->
{% block list-test %}
{% url 'my-test' username %}
{% endblock %}

{%block change-password %}
{% url "change-password" username %}
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label for="firstName" class="col-2 col-form-label">Tên: </label>
            <div class="col-10">
              <input class="form-control" name="firstName" type="text" value="{{firstName}}" placeholder="Nhập tên mới" id="firstName">
            </div>
        </div>

        <div class="form-group row">
            <label for="lastName" class="col-2 col-form-label">Họ: </label>
            <div class="col-10">
              <input class="form-control" name="lastName" type="text" value="{{lastName}}" placeholder="Nhập họ mới" id="lastName">
            </div>
        </div>

        <div class="form-group row">
            <label for="lastName" class="col-2 col-form-label">Giới tính: </label>
            <div class="col-10">
                {% if sex == "Nam" %}
                    <div class="row">
                        <div class="col-6">
                            <label> <input type="radio" name="sex" value="Nam" checked> Nam</label>
                        </div>

                        <div class="col-6">
                            <label> <input type="radio" name="sex" value="Nữ"> Nữ </label>
                        </div>
                    </div>
                {% elif sex == "Nữ" %}
                <div class="row">
                    <div class="col-6">
                        <label> <input type="radio" name="sex" value="Nam"> Nam</label>
                    </div>

                    <div class="col-6">
                        <label> <input type="radio" name="sex" value="Nữ" checked> Nữ </label>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-6">
                        <label> <input type="radio" name="sex" value="Nam" required> Nam</label>
                    </div>

                    <div class="col-6">
                        <label> <input type="radio" name="sex" value="Nữ" required> Nữ </label>
                    </div>
                </div>
                {% endif %}
                

            </div>
        </div>

        <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Ngày sinh: </label>
            <div class="col-10">
              <input class="form-control" type="date" name="birthDate" value="{{birthDate|date:'Y-m-d'}}" id="example-date-input">
            </div>
        </div>

        <div class="form-group row">
            <label for="avatar" class="col-2">Ảnh đại diện: </label>
            <div class="col-10">
                <input type="file" name="userAvatar" accept="image/*">
            </div>            
        </div>
        <div class="d-flex justify-content-center aligns-item-center">
            {% if avatar %}
        <img src="{{avatar.url}}" width="240" height="240">
        {% else %}
        <img src='/media/avatars/default avatar.png' width="240" height="240">
        {%endif%}
        </div>
    <div class="d-flex justify-content-center mt-3">
        <input type="submit" class="btn btn-info py-2 px-5" value="Cập nhập">
    </div>
    
    </form>
</div>

<script>
</script>

{% endblock %}
