{% extends "home/base/base-home.html" %}

{% block my_home %}
    {% url 'home' context.username %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ context.username }}</h1>
        <div class="test-section">
            <h2 class="text-center">Bài kiểm tra của tôi</h2>
            
            {% for exam in context.my_exams %}
                <h3>{{ exam.exam }}</h3>
            {% endfor %}
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-success px-5 py-2" id="createTestBtn" data-toggle="modal" data-target="#myModal">Tạo bài kiểm tra</a>
            
            </div>
            
        </div>

        <div class="test-section mt-5">
            <h2 class="text-center">Bài kiểm tra đã làm</h2>
            {% for exam in context.done_exams %}
            <div class="test-component">
                <a href="{%url 'do-test' context.username exam.exam %}" class="test-name">{{exam.exam}}</a>
                <div class="test-info">
                    <p class="test-owner">Người tạo: {{exam.creator}}</p>
                    <p class="test-date">{{exam.score}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <form method="POST" class="p-3" action='{% url 'add-my-test' username=context.username %}'>
                {% csrf_token %}
                <div class="form-group">
                    <h2 class="text-center">Tạo bài kiểm tra</h2>
                    <input type="text" class="form-control" name="testname" placeholder="Enter test name" id="text">
                  </div>
                  <div class="d-flex justify-content-center">
                      <input type="submit" value="Tạo bài kiểm tra" class="btn btn-success">
                  </div>
            </form>
            
          </div>
        </div>
    </div>

    
    

{% endblock %}