{% extends "home/base/base-home.html" %}
{% block name %}
{{context.user.first_name}} {{context.user.last_name}}
{% endblock %}
{% block my-home %}
    {% url 'home' context.user.username %}
{% endblock %}

<!-- link to info -->

{% block change-info %}
{% url 'info' context.user.username %}
{% endblock %}
<!-- link to list-test -->
{% block list-test %}
{% url 'my-test' context.user.username %}
{% endblock %}

{%block change-password %}
{% url "change-password" context.user.username %}
{% endblock %}

{% block content %}
    <div class="container pb-5">
        <div class="test-section mt-5">
            <h2 class="text-center mb-4">Bài kiểm tra của tôi</h2>

            {% if context.my_exams == 'none' %}
                <h3 class="text-center">Bạn chưa có bài kiểm tra nào </h3>
            {% else %}
                <div class="my-exam">
                    {% for exam in context.my_exams %}
                        <a href="{% url 'list-question' context.user.username exam %}" class="my-exam__exam">{{ exam }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="d-flex justify-content-center mt-5">
                <button type="button" class="btn btn-success px-5 py-2" id="createTestBtn" data-toggle="modal" data-target="#myModal">Tạo bài kiểm tra</a>
            
            </div>
            
        </div>

        <div class="test-section mt-5"> 
            <h2 class="text-center mb-4">Bài kiểm tra đã làm</h2>
            {% if context.done_exams == 'none' %}
                <h3 class="text-center"> Bạnchưa làm bài kiểm tra nào cả</h3>
                <div class="d-flex justify-content-center mt-3">
                    <a href="{% url 'home' context.user.username %}" class="btn btn-primary px-5 py-2">Quay lại trang chủ</a>
                </div>
                
            {% else %}
                {% for exam in context.done_exams %}
                <div class="test-component">
                    <a href="{%url 'do-test' context.user.username exam.exam %}" class="test-name">{{exam.exam}}</a>
                    <div class="test-info">
                        <p class="test-owner">Người tạo: {{exam.creator}}</p>
                        <p class="test-date">{{exam.score}}</p>
                    </div>
                </div>
                {% endfor %}
            {% endif %}

            
        </div>
    </div>
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <form method="POST" class="p-3" action='{% url 'add-my-test' context.user.username %}'>
                {% csrf_token %}
                <div class="form-group">
                    <h2 class="text-center">Tạo bài kiểm tra</h2>
                    <input type="text" class="form-control" name="testname" placeholder="Enter test name" id="text">
                  </div>
                  <div class="d-flex justify-content-center">
                      <input type="submit" value="Tạo bài kiểm tra" class="btn btn-success">
                  </div>
            </form>
            
          </div>
        </div>
    </div>

    
    

{% endblock %}