{% extends "home/base/base-home.html" %}
{% block content %}
    <div class="container">
        <div class="test-section">
            <h2 class="text-center">Bài kiểm tra của tôi</h2>
            <div class="test-component">
                <a href="" class="test-name">bài kiểm tra thứ nhất</a>
                <div class="test-info">
                    <p class="test-owner">le ho vy</p>
                    <p class="test-date">5/6/2020</p>
                </div>
            </div>

            <div class="test-component">
                <a href="" class="test-name">bài kiểm tra thứ nhất</a>
                <div class="test-info">
                    <p class="test-owner">le ho vy</p>
                    <p class="test-date">5/6/2020</p>
                </div>
            </div>
            <div>
                <a href="" class="btn btn-success mx-auto">Tạo bài kiểm tra</a>
            </div>
            
        </div>

        <div class="test-section mt-4">
            <h2 class="text-center">Bài kiểm tra đã làm</h2>
            <div class="test-component">
                <a href="" class="test-name">bài kiểm tra thứ nhất</a>
                <div class="test-info">
                    <p class="test-owner">le ho vy</p>
                    <p class="test-date">5/6/2020</p>
                </div>
            </div>

            <div class="test-component">
                <a href="" class="test-name">bài kiểm tra thứ nhất</a>
                <div class="test-info">
                    <p class="test-owner">le ho vy</p>
                    <p class="test-date">5/6/2020</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}